body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.header {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: #fff;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: center;
}

h1 {
    margin: 0;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    
}

nav {
    margin-top: 10px;
}

nav a {
    
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}